body {
  margin: 20px;
  font-size: 20px;
  text-shadow: 2px 2px #9c89b8;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.angel {
  width: 150px;
  box-shadow: 0px 0px 9px 4px #ffd60a;
  animation: glow 1.5s linear infinite alternate;
}

@keyframes glow {
  to {
    box-shadow: 0px 0px 10px 8px #fb8500;
  }
}

.card {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  color: #323031;
  border-bottom: 8px solid #9c89b8;
  background-color: #64a6bd;
}
